In [2]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import seaborn as sns

%matplotlib inline

# Crypto Selection
- According to market cap data from yahoo finance 
- Exclude cryptos closely linked to USD, e.g. USDT, USDC etc.
- Top 6 Cryptos which have the largest market cap

# Reading the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files (Data from Google Finance and time range from 3-1-2009 to 26-10-2022):
* BTC  
* ETH  
* BNB 
* XRP 
* ADA 
* SOL

In [22]:
btc_path = Path("./Resources/BTC.csv")

#btc_data = pd.read_csv(btc_path, index_col = 'Date', parse_dates = True,infer_datetime_format = True)
btc_data = pd.read_csv(btc_path, parse_dates = True,infer_datetime_format = True)


btc_data

btc_data['Date']=pd.to_datetime(btc_data['Date'])

ParserError: Unknown string format: 2015-5-21 下午04:00:00

In [6]:
# Count nulls
btc_data.isnull().sum()

Close    0
dtype: int64

In [8]:
# Calculate Daily Returns
btc_daily_return = btc_data.pct_change()

btc_daily_return

                          Close
Date
2015-5-21 下午04:00:00        NaN
2015-5-22 下午04:00:00   0.000000
2015-5-25 下午04:00:00   0.000000
2015-6-2 下午04:00:00    0.000000
2015-6-23 下午04:00:00   1.000000
...                         ...
2022-10-19 下午04:00:00  0.000000
2022-10-20 下午04:00:00  0.000000
2022-10-21 下午04:00:00 -0.166667
2022-10-24 下午04:00:00  0.200000
2022-10-25 下午04:00:00 -0.166667

[1358 rows x 1 columns]

In [5]:
bnb_path = Path("./Resources/BNB.csv")

bnb_data = pd.read_csv(bnb_path, index_col = 'Date', parse_dates = True,infer_datetime_format = True)



bnb_data

                         Close
Date
2009-1-5 下午05:40:00    2401.16
2009-1-6 下午05:40:00    2435.00
2009-1-7 下午05:40:00    2412.06
2009-1-8 下午05:40:00    2419.94
2009-1-9 下午05:40:00    2400.00
...                        ...
2022-10-19 下午05:40:00   762.00
2022-10-20 下午05:40:00   720.00
2022-10-21 下午05:40:00   750.00
2022-10-24 下午05:40:00   762.00
2022-10-25 下午05:40:00   790.00

[3533 rows x 1 columns]

In [7]:
# Count nulls
bnb_data.isnull().sum()

Close    0
dtype: int64

In [9]:
# Calculate Daily Returns
bnb_daily_return = bnb_data.pct_change()

bnb_daily_return

                          Close
Date
2009-1-5 下午05:40:00         NaN
2009-1-6 下午05:40:00    0.014093
2009-1-7 下午05:40:00   -0.009421
2009-1-8 下午05:40:00    0.003267
2009-1-9 下午05:40:00   -0.008240
...                         ...
2022-10-19 下午05:40:00 -0.047500
2022-10-20 下午05:40:00 -0.055118
2022-10-21 下午05:40:00  0.041667
2022-10-24 下午05:40:00  0.016000
2022-10-25 下午05:40:00  0.036745

[3533 rows x 1 columns]

In [12]:
# Join All Returns into a single DataFrame with columns 
# for each portfolio's returns.

combined = pd.concat([btc_daily_return,bnb_daily_return],axis='columns',join = 'inner')

combined

Empty DataFrame
Columns: [Close, Close]
Index: []