In [69]:
# Initial imports

import os
import requests
import pandas as pd
import numpy as np
import datetime as dt
import alpaca_trade_api as tradeapi
import seaborn as sns
from dotenv import load_dotenv
from MCForecastTools import MCSimulation
from pathlib import Path

import matplotlib.pyplot as plt

from pandas_datareader import data as pdr

%matplotlib inline

In [68]:
start= pd.to_datetime('2017-08-01')
end=pd.to_datetime('2022-09-01')

stockData = pdr.get_data_yahoo('SOL-USD', start, end)
stockData.

SyntaxError: invalid syntax (2741077665.py, line 5)

In [42]:
# The process of reading csv file and renaming is repetitive, thus define a function read_crypto_price(str) to do it
# Parameter 'str' means the ticker for the crypto and naming of the CSV file should be the same with the ticker
# This functions returns the dataframe of the CSV file with the close prices of the crypto

def read_crypto_price(str):
    path_str = "../Resources/"+str+".csv"
    path = Path(path_str)
    data = pd.read_csv(path, index_col = 'Date', parse_dates = True,infer_datetime_format = True)
    data.index = pd.to_datetime(data.index.date)
    rename_str = str + " Close"   
    data = data.rename(columns={'Close':rename_str})

    return data

In [46]:
ada_data = read_crypto_price('ADA')
btc_data = read_crypto_price('BTC')
eth_data = read_crypto_price('ETH')
sol_data = read_crypto_price('SOL')
xrp_data = read_crypto_price('XRP')
bnb_data = read_crypto_price('BNB')

In [47]:
# Extract the past 5 years' data from btc_data, time range starts from '2017-09-01' and end '2022-08-01' totally 60 months
ada_data_slice = ada_data['2017-09-01':'2022-08-01']
ada_data_slice

            ADA Close
2017-11-28   0.099375
2017-11-29   0.101595
2017-11-30   0.096775
2017-12-01   0.108201
2017-12-02   0.109190
...               ...
2022-07-28   0.512928
2022-07-29   0.524279
2022-07-30   0.524547
2022-07-31   0.515699
2022-08-01   0.512977

[1703 rows x 1 columns]

In [64]:
# Group by year and month and get the first price of each month using first() function
ada_inv_price=ada_data_slice.groupby([ada_data_slice.index.year, ada_data_slice.index.month]).first()
ada_inv_price.describe()

df = ada_inv_price.describe()

58

In [66]:
count = int(df.iloc[0,0])
count

58

In [65]:
# Calculate the total amount acquried for the $100 monthly investment

amount = 0
total_amount = 0
i = 0

ada_inv_price.reset_index(inplace=True)
ada_inv_price

while i<count:
    price = ada_inv_price.iloc[i,2]
    amount = round(100/price,4)
    total_amount = round((total_amount + amount),4)
    print(f'Year:{ada_inv_price.iloc[i,0]}, Month:{ada_inv_price.iloc[i,1]}, Pirce:{price}, Amount Acquired:{amount}, Amount Totally Acquired:{total_amount}')
    i += 1

dca_value = total_amount * price
print(f'DCA acquired cryptos over the 5-year period valued at:{dca_value} ')

# investment over 5 years total at $100*60 = $6000
dca_profit = dca_value - 6000
print(f'DCA profit over the 5-year period :{dca_profit} ')

Year:2017, Month:11, Pirce:0.0993751, Amount Acquired:1006.2883, Amount Totally Acquired:1006.2883
Year:2017, Month:12, Pirce:0.1082012, Amount Acquired:924.2042, Amount Totally Acquired:1930.4925
Year:2018, Month:1, Pirce:0.679207, Amount Acquired:147.2305, Amount Totally Acquired:2077.723
Year:2018, Month:2, Pirce:0.42285776, Amount Acquired:236.4861, Amount Totally Acquired:2314.2091
Year:2018, Month:3, Pirce:0.30633932, Amount Acquired:326.4354, Amount Totally Acquired:2640.6445
Year:2018, Month:4, Pirce:0.15269342, Amount Acquired:654.9071, Amount Totally Acquired:3295.5516
Year:2018, Month:5, Pirce:0.3550112475, Amount Acquired:281.6812, Amount Totally Acquired:3577.2328
Year:2018, Month:6, Pirce:0.2263572915, Amount Acquired:441.7795, Amount Totally Acquired:4019.0123
Year:2018, Month:7, Pirce:0.1417495002, Amount Acquired:705.4699, Amount Totally Acquired:4724.4822
Year:2018, Month:8, Pirce:0.1396595783, Amount Acquired:716.0268, Amount Totally Acquired:5440.509
Year:2018, Month:9, Pirce:0.1069001652, Amount Acquired:935.4522, Amount Totally Acquired:6375.9612
Year:2018, Month:10, Pirce:0.0842990179, Amount Acquired:1186.2534, Amount Totally Acquired:7562.2146
Year:2018, Month:11, Pirce:0.07101178873, Amount Acquired:1408.2169, Amount Totally Acquired:8970.4315
Year:2018, Month:12, Pirce:0.04150935483, Amount Acquired:2409.0955, Amount Totally Acquired:11379.527
Year:2019, Month:1, Pirce:0.04231813096, Amount Acquired:2363.0533, Amount Totally Acquired:13742.5803
Year:2019, Month:2, Pirce:0.03837038594, Amount Acquired:2606.1765, Amount Totally Acquired:16348.7568
Year:2019, Month:3, Pirce:0.04286112408, Amount Acquired:2333.1166, Amount Totally Acquired:18681.8734
Year:2019, Month:4, Pirce:0.07227035523, Amount Acquired:1383.6932, Amount Totally Acquired:20065.5666
Year:2019, Month:5, Pirce:0.06841873546, Amount Acquired:1461.588, Amount Totally Acquired:21527.1546
Year:2019, Month:6, Pirce:0.09036721537, Amount Acquired:1106.596, Amount Totally Acquired:22633.7506
Year:2019, Month:7, Pirce:0.0832259244, Amount Acquired:1201.5487, Amount Totally Acquired:23835.2993
Year:2019, Month:8, Pirce:0.05863672226, Amount Acquired:1705.4159, Amount Totally Acquired:25540.7152
Year:2019, Month:9, Pirce:0.0445122588, Amount Acquired:2246.5721, Amount Totally Acquired:27787.2873
Year:2019, Month:10, Pirce:0.03835740211, Amount Acquired:2607.0587, Amount Totally Acquired:30394.346
Year:2019, Month:11, Pirce:0.04219425378, Amount Acquired:2369.991, Amount Totally Acquired:32764.337
Year:2019, Month:12, Pirce:0.03957231982, Amount Acquired:2527.0189, Amount Totally Acquired:35291.3559
Year:2020, Month:1, Pirce:0.03332608927, Amount Acquired:3000.6521, Amount Totally Acquired:38292.008
Year:2020, Month:2, Pirce:0.05599033011, Amount Acquired:1786.0227, Amount Totally Acquired:40078.0307
Year:2020, Month:3, Pirce:0.0456780646, Amount Acquired:2189.2346, Amount Totally Acquired:42267.2653
Year:2020, Month:4, Pirce:0.03102641958, Amount Acquired:3223.0596, Amount Totally Acquired:45490.3249
Year:2020, Month:5, Pirce:0.05086725204, Amount Acquired:1965.9014, Amount Totally Acquired:47456.2263
Year:2020, Month:6, Pirce:0.08094668526, Amount Acquired:1235.381, Amount Totally Acquired:48691.6073
Year:2020, Month:7, Pirce:0.09670383066, Amount Acquired:1034.0852, Amount Totally Acquired:49725.6925
Year:2020, Month:8, Pirce:0.144590262, Amount Acquired:691.6095, Amount Totally Acquired:50417.302
Year:2020, Month:9, Pirce:0.1245961612, Amount Acquired:802.5929, Amount Totally Acquired:51219.8949
Year:2020, Month:10, Pirce:0.09791085045, Amount Acquired:1021.3373, Amount Totally Acquired:52241.2322
Year:2020, Month:11, Pirce:0.09810679824, Amount Acquired:1019.2974, Amount Totally Acquired:53260.5296
Year:2020, Month:12, Pirce:0.1555392204, Amount Acquired:642.9247, Amount Totally Acquired:53903.4543
Year:2021, Month:1, Pirce:0.1751921736, Amount Acquired:570.8018, Amount Totally Acquired:54474.2561
Year:2021, Month:2, Pirce:0.4074880365, Amount Acquired:245.406, Amount Totally Acquired:54719.6621
Year:2021, Month:3, Pirce:1.295374803, Amount Acquired:77.1977, Amount Totally Acquired:54796.8598
Year:2021, Month:4, Pirce:1.182537997, Amount Acquired:84.5639, Amount Totally Acquired:54881.4237
Year:2021, Month:5, Pirce:1.353825114, Amount Acquired:73.8648, Amount Totally Acquired:54955.2885
Year:2021, Month:6, Pirce:1.735764301, Amount Acquired:57.6115, Amount Totally Acquired:55012.9
Year:2021, Month:7, Pirce:1.33410769, Amount Acquired:74.9565, Amount Totally Acquired:55087.8565
Year:2021, Month:8, Pirce:1.313759368, Amount Acquired:76.1174, Amount Totally Acquired:55163.9739
Year:2021, Month:9, Pirce:2.871161488, Amount Acquired:34.8291, Amount Totally Acquired:55198.803
Year:2021, Month:10, Pirce:2.256172272, Amount Acquired:44.3229, Amount Totally Acquired:55243.1259
Year:2021, Month:11, Pirce:1.950196345, Amount Acquired:51.2769, Amount Totally Acquired:55294.4028
Year:2021, Month:12, Pirce:1.546993028, Amount Acquired:64.6415, Amount Totally Acquired:55359.0443
Year:2022, Month:1, Pirce:1.374895365, Amount Acquired:72.7328, Amount Totally Acquired:55431.7771
Year:2022, Month:2, Pirce:1.086068805, Amount Acquired:92.0752, Amount Totally Acquired:55523.8523
Year:2022, Month:3, Pirce:0.9648419148, Amount Acquired:103.6439, Amount Totally Acquired:55627.4962
Year:2022, Month:4, Pirce:1.166122454, Amount Acquired:85.7543, Amount Totally Acquired:55713.2505
Year:2022, Month:5, Pirce:0.7895755183, Amount Acquired:126.6503, Amount Totally Acquired:55839.9008
Year:2022, Month:6, Pirce:0.5530854889, Amount Acquired:180.8039, Amount Totally Acquired:56020.7047
Year:2022, Month:7, Pirce:0.4476569364, Amount Acquired:223.3853, Amount Totally Acquired:56244.09
Year:2022, Month:8, Pirce:0.5129765932, Amount Acquired:194.9407, Amount Totally Acquired:56439.0307
DCA acquired cryptos over the 5-year period valued at:28951.901691996212
DCA profit over the 5-year period :22951.901691996212

In [ ]:

# A Lump Sum Investment Return Calculation


btc_daily_return = btc_data_slice.pct_change()
btc_cumprod = (btc_daily_return+1).cumprod()-1
btc_cumprod.dropna(inplace=True)
btc_cumprod

In [ ]:
initail_amount = 6000

cum_return_btc = btc_cumprod.loc['2022-08-01',:]

cum_return_btc

In [ ]:
lump_sum_profit = initail_amount * cum_return_btc

print(f'cum_return_btc:{cum_return_btc}')

print(f'compound_return_btc:{lump_sum_profit}')

In [ ]:
# profit comparison between lump sum Vs. DCA

print('*****************************************************************************\n')


print(f'Initial investment of a lump sum of 6000 Vs. Monthly Investment of $100 over 5 years period Comparison\n')

print(f'DCA profit: {dca_profit}')

print(f'Lump Sum profit: {lump_sum_profit}')


print('\n*****************************************************************************')