In [10]:
# Initial imports

import os
import requests
import pandas as pd
import numpy as np
import datetime as dt
#import alpaca_trade_api as tradeapi
import seaborn as sns
#from dotenv import load_dotenv
#from MCForecastTools import MCSimulation
from pathlib import Path

%matplotlib inline

# Crypto Selection
- According to market cap data from yahoo finance 
- Exclude cryptos closely linked to USD, e.g. USDT, USDC etc.
- Top 6 Cryptos which have the largest market cap

# Reading the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files (Data from Google Finance and time range from 3-1-2009 to 26-10-2022):
* BTC  
* ETH  
* BNB 
* XRP 
* ADA 
* SOL

In [11]:
# Read in price data from CSV files

ada_path = Path("../Resources/ADA.csv")

ada_data = pd.read_csv(ada_path, index_col = 'Date', parse_dates = True,infer_datetime_format = True)

ada_data.index = ada_data.index.date

ada_data

FileNotFoundError: [Errno 2] No such file or directory: '..\\Resources\\ADA.csv'

In [ ]:
# Count nulls
ada_data.isnull().sum()

In [ ]:
# Calculate Daily Returns
ada_daily_return = ada_data.pct_change()

ada_daily_return

In [33]:
btc_path = Path("./Resources/BTC.csv")

btc_data = pd.read_csv(btc_path, index_col = 'Date', parse_dates = True,infer_datetime_format = True)

btc_data.index = btc_data.index.date

btc_data

            Close
2015-05-21   0.06
2015-05-22   0.06
2015-05-25   0.06
2015-06-02   0.06
2015-06-23   0.12
...           ...
2022-10-19   0.06
2022-10-20   0.06
2022-10-21   0.05
2022-10-24   0.06
2022-10-25   0.05

[1358 rows x 1 columns]

In [6]:
# Count nulls
btc_data.isnull().sum()

Close    0
dtype: int64

In [34]:
# Calculate Daily Returns
btc_daily_return = btc_data.pct_change()

btc_daily_return

               Close
2015-05-21       NaN
2015-05-22  0.000000
2015-05-25  0.000000
2015-06-02  0.000000
2015-06-23  1.000000
...              ...
2022-10-19  0.000000
2022-10-20  0.000000
2022-10-21 -0.166667
2022-10-24  0.200000
2022-10-25 -0.166667

[1358 rows x 1 columns]

In [36]:
bnb_path = Path("./Resources/BNB.csv")

bnb_data = pd.read_csv(bnb_path, index_col = 'Date', parse_dates = True,infer_datetime_format = True)

bnb_data.index = bnb_data.index.date

bnb_data

              Close
2009-05-01  2401.16
2009-06-01  2435.00
2009-07-01  2412.06
2009-08-01  2419.94
2009-09-01  2400.00
...             ...
2022-10-19   762.00
2022-10-20   720.00
2022-10-21   750.00
2022-10-24   762.00
2022-10-25   790.00

[3533 rows x 1 columns]

In [37]:
# Count nulls
bnb_data.isnull().sum()

Close    0
dtype: int64

In [38]:
# Calculate Daily Returns
bnb_daily_return = bnb_data.pct_change()

bnb_daily_return

               Close
2009-05-01       NaN
2009-06-01  0.014093
2009-07-01 -0.009421
2009-08-01  0.003267
2009-09-01 -0.008240
...              ...
2022-10-19 -0.047500
2022-10-20 -0.055118
2022-10-21  0.041667
2022-10-24  0.016000
2022-10-25  0.036745

[3533 rows x 1 columns]

In [41]:
# Join All Returns into a single DataFrame with columns 
# for each portfolio's returns.

combined = pd.concat([btc_daily_return,bnb_daily_return],axis='columns',join = 'inner')

combined.dropna(inplace=True)
combined

               Close     Close
2015-05-22  0.000000 -0.002454
2015-05-25  0.000000 -0.000615
2015-06-02  0.000000 -0.005362
2015-06-23  1.000000  0.019608
2015-07-16  1.000000  0.013877
...              ...       ...
2022-10-19  0.000000 -0.047500
2022-10-20  0.000000 -0.055118
2022-10-21 -0.166667  0.041667
2022-10-24  0.200000  0.016000
2022-10-25 -0.166667  0.036745

[1191 rows x 2 columns]

In [ ]:
# plot the daily return of the 6 cryptos

In [ ]:
# plot the cumulative return of the 6 cryptos

In [ ]:
# plot the moving average

In [ ]:
# plot the volatilities of the 6 cryptos

In [ ]:
# plot the Sharpe Ratio of the 6 cryptos

In [ ]:
# plot the std of the 6 cryptos

In [ ]:
# plot the rolling std (30 days, 60 days) of the 6 cryptos

In [ ]:
# plot the heatmap

In [ ]:
# CVI - crypto volatility index

In [ ]:
# S&P (SPY) and ASX

In [ ]:
# Porforlios : do some research

In [42]:
import cryptocompare
price = cryptocompare.get_price('BTC', 'USD')
print(price)

ModuleNotFoundError: No module named 'cryptocompare'

In [ ]:
# Monte Carlo Simulation in 1, 5, 10 years of different poforlios